body {
  font-family: 'Overlock', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
    font-weight: 400;
     font-size: 1.85em;
}


#career {
    
     background: #888888;
      padding: 30px 0px 30px 0px;
     height:100vh;
    
}

#portfolio {
    
     background: #222222; 
       padding: 30px 0px 30px 0px;
    color:white;
}

#skill {
    
     background: #888888; 
     padding: 30px 0px 30px 0px;
     color:#1a1a1a;
    
}

#info {
     background: #222222; 
      padding: 30px 0px 30px 0px;
     color:white;
}


/*SECTION DESIGN*/

#custom-section-title-light{ 
    display: block;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
     color: #1a1a1a;
    font-weight: 500;
    font-size: 2.5em;
    text-align:center;
    padding: 0px 50px 0px 50px;
}

#custom-section-title-dark{ 
    display: block;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 2.5em;
    text-align:center;
    padding: 0px 50px 0px 50px;
}

/*CAREER DESIGN*/


#custom-title {
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.50em;
    color: white;
}


#custom-link {
 text-decoration: none;
      background: #222222;
   
}

#custom-link:hover  {
      background: #ffffff;
}

#custom-link:hover * {
      background: #ffffff;
    color:#1a1a1a;
}

#custom-panel-collapse {
    
    border: 0px transparent;
}

#custom-panel-body {
    
  border: 0px transparent;
    background: white;
    color:#1a1a1a;

}


.panel.panel-custom {    
    
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
 border: 0px transparent;
}

/* PORTFOLIO DESIGN */

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  /*background: rgba(24, 188, 156, 0.9);*/
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/* MODAL DESIGN */

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/*SKIPNAV DESIGN*/

#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
    
}

/*SCROLL DESIGN*/

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;  
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}


/* SPACE CAREER DESIGN */



hr.space-career {
margin: 25px 0 25 0;
border-top:0px;
}

hr.space-career:after {
      content: "\f106";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2.5em;
  padding: 0 0.25em;
    color: 27231c;
    
}

/* STAR DESIGN */


hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f007";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #27231c;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

hr.star-primary.port:after {
  content: "\f042";
}

hr.star-light.port {
  border-color: #27231c;
}

/*HEADER DESIGN*/


header {
  text-align: center;
  background: #222222;
  color: white;
    height:100vh;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

/*NAV DESIGN*/

.navbar-custom {
  background: #1a1a1a;
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
font-size: 1.25em;
  border: none;
}

/*
.navbar-custom .navbar-brand {
  color: #fbefdb;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fbefdb;
}*/

.logo {
      content: url("../img/logo.png");
}

.logo:hover,
.logo:focus,
.logo:active{
      content: url("../img/logo2.png");
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: white;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #888888;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #888888;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/* BUTTON & CO DESIGN*/

.btn-outline {
  color: white;
  font-size: 14px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #181612;
  background: white;
  border: solid 2px white;
}

.dropdown-menu{
    color: #fbefdb;
  background:  #181612;
    text-align: center;
    width: auto;
}

.dropdown-menu li a:hover{
    color: #181612;    
}

/*FOOTER DESIGN*/
footer {
  color: white;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #1a1a1a;
    text-align: center;
}