body {
  font-family: 'Overlock', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
    font-weight: 400;
     font-size: 1.85em;
}

#bword {
    
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#mail {
    
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 300;
    letter-spacing: 1px;

}

#career {
    
     background: #888888;
      padding: 30px 0px 30px 0px;
    
}



#portfolio {
    
     background: #222222; 
       padding: 30px 0px 30px 0px;
    color:white;
}

#skill {
    
     background: #888888; 
     padding: 30px 0px 30px 0px;
     color:#1a1a1a;
    
}

#info {
     background: #222222; 
      padding: 30px 0px 30px 0px;
     color:white;
}


/*SECTION DESIGN*/

#custom-section-title-light{ 
    display: block;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
     color: #1a1a1a;
    font-weight: 500;
    font-size: 2.5em;
    text-align:center;
    padding: 0px 30px 0px 30px;
}

#custom-section-title-dark{ 
    display: block;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 2.5em;
    text-align:center;
    padding: 0px 30px 0px 30px;
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

/*CAREER DESIGN*/


#custom-title {
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.50em;
    color: white;
}


#custom-link {
 text-decoration: none;
      background: #222222;
    border-radius: 15px;
   
}

#custom-link:hover  {
      background: #d1d1d1;
     
}

#custom-link:hover * {
      background: #d1d1d1;
    color:#1a1a1a;
   
}

#custom-link:active  {
      background: #fff;
   
}

#custom-link:active * {
      background: #fff;
  color:#3fc4ff;
}


#custom-panel-collapse {
    
    border: 0px transparent;
       
}

#custom-panel-body {
    
  border: 0px transparent;
    background: white;
    color:#1a1a1a;  
    border-radius: 15px;

}


.panel.panel-custom {    
    
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
 border: 0px transparent;
    border-radius: 15px;
}

/* PORTFOLIO DESIGN */

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  /*background: rgba(24, 188, 156, 0.9);*/
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;


}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
   
   

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
     font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #222;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/* MODAL DESIGN */

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
    background-color: #222222;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
    color:white;

}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
     font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.btn-default {
    
    color: white;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
    background-color: #222;
    
    
}


/*SKILLS*/

#title-skill {
    
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.75em;
    text-transform: uppercase;
}

#skills-text {
    
    text-align: center;
    
}


/*A BIT MORE DESIGN*/

#outro-text {
    
    font-size: 1.75em;
    text-align: center;
    
}

#areaCV {
    
     padding: 50px 0px 50px 0px;
}

.btn-CV {
  color: white;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
    text-align: center;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
text-decoration: none;
  border-radius: 15px;
    display: block;
  position: relative;
  max-width: 400px;
 margin: 0 auto;
}

.btn-CV:hover,
.btn-CV:focus,
.btn-CV:active,
.btn-CV.active {
  color: #181612;
  background: white;
  border: solid 2px white;
     text-decoration: none;
}

@media (min-width: 768px) {
  .btn-CV {
    margin: 30px 0 30px 0;
  }
}


/*SKIPNAV DESIGN*/

#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
    
}

/*SCROLL DESIGN*/

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;  
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}


/* SPACE CAREER DESIGN */



hr.space-career {
margin: 25px 0 25 0;
border-top:0px;
}

hr.space-career:after {
      content: "\f106";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2.5em;
  padding: 0 0.25em;
    color: 27231c;
    
}

/* STAR DESIGN */


hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #222222;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

hr.star-primary.port:after {
  content: "\f042";
}

hr.star-light.port {
  border-color: #27231c;
}


/*LOGO SKILLS DESIGN*/

hr.star-light.skills {
  border-color: #222222;
}

hr.star-light.skills:after {
  background-color: #888888;
  color: #222222;
}

hr.star-light.skills.design:after {
    content:"\f040";
}

hr.star-light.skills.design.port:after {
    content:"\f040";
}

hr.star-light.skills.team:after {
    content:"\f0c0";
}

hr.star-light.skills.team.port:after {
    content:"\f0c0";
}

hr.star-light.skills.dev:after {
   content:"\f013";
}

hr.star-light.skills.dev.port:after {
content:"\f013";
}

hr.star-light.skills.soft:after {
    content:"\f040";
}

hr.star-light.skills.soft.port:after {
    content:"\f040";
}

hr.star-light.skills.hobby:after {
 content:"\f004";
}

hr.star-light.skills.hobby.port:after {
 content:"\f004";
}


/*HEADER DESIGN*/


header {
  text-align: center;
  background: #222222;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
     font-size: 3.75em;
    
}

header .intro-text .slimshady {
    font-size: 1.75em;
  }
    
  header .intro-text .moto {
    font-size: 2.25em;
  }

#intro-p {
     text-align: center;
    font-size: 1.25em;
    
}
@media (min-width: 768px) {
  header .container {
    padding-top: 150px;
    padding-bottom: 100px;
  }
    
header .intro-text .slimshady {
    font-size: 1.75em;
  }
  header .intro-text .name {
    font-size: 3.75em;
  }
    
  header .intro-text .moto {
    font-size: 2.25em;
  }
}

/*NAV DESIGN*/

.navbar-custom {
  background: #1a1a1a;
  font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
    font-size: 1.55em;
  border: none;
     width: 100%;
}

/*
.navbar-custom .navbar-brand {
  color: #fbefdb;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fbefdb;
}*/

/*.nav navbar-nav navbar-right {
    position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}*/

@media (min-width: 768px){
    
    .navbar-collapse.collapse {
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    display: flex!important;
    justify-content: center;
}
}


.navbar-custom .navbar-nav {
  letter-spacing: 2px;
}
.navbar-custom .navbar-nav li a {
  color: white;
    text-align: center;
}
.navbar-custom .navbar-nav li a:hover {
  color: white;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #888888;

}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #888888;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
    
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;

  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/* BUTTON & CO DESIGN*/

.btn-outline {
  color: white;
    font-family: "Chau Philomene One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin: 5px;
padding: 10px;
    
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #181612;
  background: white;
  border: solid 2px white;
}

.dropdown-menu{
    color: #fbefdb;
  background:  #181612;
    text-align: center;
    width: auto;
}

.dropdown-menu li a:hover{
    color: #181612;    
}

/*FOOTER DESIGN*/
footer {
  color: white;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #1a1a1a;
    text-align: center;
}